body {
  background-color: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button:disabled:hover {
  cursor: not-allowed;
}

.scale:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  scale: 1.1;
}
