body {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button:disabled:hover {
  cursor: not-allowed;
}

.scale:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  scale: 1.1;
}

.rotate-animation {
  animation: RotateAnimation 60s linear infinite;
}

@keyframes RotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
